{% extends "base.html" %}

{% block content_placeholder %}
	<div class="twelve alt columns">
		{% block content %}{% endblock content %}
	</div>

	<!-- Sidebar -->
	<div class="four columns">
		{% if 'about' in SIDEBAR_DISPLAY and SIDEBAR_ABOUT %}
		<!-- About  -->
		<div class="widget no-mg-top">
			<h3 class="headline">About</h3><span class="line"></span><div class="clearfix"></div>
			<p>{{ SIDEBAR_ABOUT }}</p>
		</div>
		{% endif %}

		{% if 'categories' in SIDEBAR_DISPLAY %}
		<!-- Categories -->
		<div class="widget{% if 'about' not in SIDEBAR_DISPLAY %} no-mg-top{% endif %}">
			<h3 class="headline">Categories</h3><span class="line"></span><div class="clearfix"></div>
			<nav class="categories">
				<ul>
					{% for cat, null in categories %}
					    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</div>
		{% endif %}
		
		{% if 'tags' in SIDEBAR_DISPLAY %}
		<!-- Tags -->
		<div class="widget{% if 'about' not in SIDEBAR_DISPLAY and 'categories' not in SIDEBAR_DISPLAY %} no-mg-top{% endif %}">
			<h3 class="headline">Tags</h3><span class="line"></span><div class="clearfix"></div>
			<nav class="tags">
				{%- for tag, articles in tags|sort %}
				    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
				{% endfor %}
			</nav>
		</div>
		{% endif %}
	</div>
{% endblock content_placeholder %}